<div class="w-64 bg-white">
  <div class="flex items-center justify-center h-16 bg-indigo-600 text-white">
    Projects
  </div>
  <!-- Sidebar Content -->
  <ul class="py-4">
    <% current_user.projects.each do |project| %>
      <li class="px-4 py-2 text-black hover:bg-gray-300 hover:text-indigo-800">
        <a href="<%= project_path(project) %>"><%= project.job_number %></a>
      </li>
    <% end %>
  </ul>
</div>
